 body {
    background-color: #EDE0D4;
}
/*margin-right:80px;
    margin-left:80px;


#exo1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #B08968;
    border-width: 2.57px;
    border-radius: 29.73px;
    width: 334.51px;
    height: 468.31px;
    overflow: hidden;
    padding: 20px;
    justify-content: space-between;
    gap: 15px;
}          */



/*img {
    width: 334.51px;
    height: 334.51px;
    

}


#espresso {
    color: #9C6644;
    font-size: 30.83px;
    
    text-align: center;
}



.dp {
    color: #B08968;
    font-size: 20.55px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.5px;
}                                                        

*/


.menu-items {
    background-color: #ffffff;
    display: block;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #B08968;
    border-width: 3px;
    border-radius: 30px;
    max-width: 334.51px;
    height: 366.57px; 
    overflow: hidden;
    padding-bottom: 65px; 
    gap: 45px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.423);
    grid-template-columns: repeat(4, 1fr);
}



.namehead {
    color: #9C6644;
    font-size: 31px;
    text-align: center;
    margin: 0; 
    font-weight: bold;
    margin-top: -8px;
}

.dp {
    color: #808968;
    font-size: 20.55px;
    text-align: center;
    margin: 0; 
    padding-inline: 20px; 
    line-height: 1.4;
    
    
}

img {
    width: 100%; 
    height: auto; 
    display: block;
    margin-bottom: 10px;
    flex-wrap: wrap;
}


#menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 76px;

}

#menu-text {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 100%;
    border-color: #7F5539;
    background-color: #E6CCB2;
    width: 253px;
    height: 109px;
    display: flex;
    align-items: center;
    font-size: 35px;
    flex-direction: column;
    justify-content: center;
    margin-top: -145px;

}

#menu-prsn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    
}
#arrow {
    width: 1455px;
    height: 518px;
    margin-top: -50px;
}

#MENU {
    padding-left: 80px;
    padding-right: 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 5px 80px;
    gap: 80px;
    border-bottom: 3px solid #7F5539;
    

}



.nav-links {
    display: flex;
    list-style: none;
    gap: 80px;
    margin-top: 18px;
    margin-left: 600px;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #7F5539;                 
}

#cntct-btn {
    background-color: transparent;
    border: 1.5px solid #7F5539;
    color: #461801;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1px;
}

.cntct-btn:hover {
    background-color: transparent;
    color: #642c10;
}

#nav-logo {
    width: 105px;
    height: auto;
    margin-top: -2px;
}


#hero {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-inline: 80px;
    padding-block: 100px;
    gap: 108px;

}

#hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

}

#hero-titel {
    font-size: 58px;
    color: #7F5539;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.hro {
    font-size: 46px;
    letter-spacing: 8px; 
    text-transform: uppercase; 
    display: inline-block;
    margin-right: 15px;
}

#hero-dp {
    font-size: 25px;
    color: #B08968;

}

#hero-btn {
    background-color: #DDB892;
    border: 1.6px solid #461801;
    color: #461801;
    border-radius: 28px;
    font-weight: bold;
    width: 550px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    letter-spacing: 1px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.423);
}

#hero-pic {
    width: 655px;
    height: 491px;
    border-style: solid;
    border-radius:40px;
    border-width: 8px;
    border-color: #7F5539;

}




#EXPRNCE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 80px;
    padding-bottom: 120px;
    
}

#exp-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 8px 1.5px rgba(0, 0, 0, 0.423); 
    background-color: #DDB892;
    border-radius: 550px;



}

#exp-titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 46px;
    color: #7F5539;
    font-weight: bold;
}
#exp-dp {
    font-size: 20px;
    color: #1c140f;
    text-align: center;
    padding-inline: 95px;
    margin-top: 5px;
}


.hr1 {
    border: 0;
    height: 3.7px;
    background-color: #7F5539;
    margin: 0;
    margin-top: -20px;
    margin-bottom: 50px;
}



.choos-us {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    padding-inline: 160px; 
    padding-block: 120px;
    gap: 35px;
} 

.choos-items { 
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    
} 

.items { 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
    position: relative;
    width: 230px;
    padding-block: 55px;
} 
.items:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;      
    height: 50%;   
    width: 1.8px;
    background-color: #7F5539;
}
.item4 {
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
    width: 230px;
    
}

    
.choos-img { 
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
} 


.choos-us h2 {
    font-size:  26px;
    color: #7F5539;
    letter-spacing: 3.5px;
    font-weight: bold;
}
    
.h3-dp { 
    align-items: center;
    text-align: center;
    padding-inline: 50px;
    font-size: 14px;
    color: #7F5539;
}

.hr2 {
    border: 0;
    height: 3.7px;
    background-color: #7F5539;
    margin-top: 95px;
    margin-bottom: 15px;
}
    
 .choos-items h3 {
    font-size: 18px;
    color: #744125;
    margin-top: -8px;
    margin-bottom: -8px;
 }


 footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-inline: 80px;
    padding-block: 100px;
    gap: 280px;

 }

 .footer-right img {
    width: 150px;  
    height: auto;

 }


 .hr3 {
    border: 0;
    height: 3.5px;
    background-color: #461801;
    margin-top: 20px;
    margin-bottom: -6.5px;
 }